{% block title %}About Fwk - Features{% endblock title %}

{% extends "layouts/about.twig" %}

{% block about_title %}<small>Features</small>{% endblock %}

{% block about_contents %}
    <p>TODO</p>
{% endblock %}