@import url(http://fonts.googleapis.com/css?family=Lato:400,300,900);
body {
    font-family: 'Lato', "Helvetica Neue", Helvetica, Verdana, sans-serif;
    background-color: #eee;
    font-size: 1.5em;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.tt-dropdown-menu {
    min-width: 250px;
    margin-top: 2px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    text-align: left !important;
}

.tt-suggestion.tt-cursor {
    background-color: #eee;
}

.tt-header {
    background-color: #eee;
    padding: 1px 5px;
}
.tt-suggestion {
    display: block;
    margin: 0;
    padding: 10px 10px;
    font-weight: bold;
    text-transform: none;
    line-height: 14px;
    font-size: 12px;
    cursor:pointer;
}
.tt-suggestion:hover {
    text-decoration: none;
    background-color: #eee;
}

.tt-suggestion span.desc {
    display: block;
    font-weight: 100;
    color: #666;
    margin:5px 0 0 0;
}
.tt-highlight {
    text-decoration: underline;
    font-weight: inherit;
}

span.desc .tt-highlight  {
    text-decoration: none !important;
    font-weight: inherit;
}

#mainmenu {
    margin-bottom: 0;
    border-radius: 0;
}

#mainmenu a:active {
    background-color: #393A35;
}

#submenu {
    border-radius: 0;
    padding: 0 0;
    border:none;
    border-color:transparent;
}
#submenu .container {
    padding-left: 0;
}

.navbar-brand {
    font-weight: bold;
}
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon/fonts/icomoon.eot?zc22vv');
    src:url('../fonts/icomoon/fonts/icomoon.eot?#iefixzc22vv') format('embedded-opentype'),
    url('../fonts/icomoon/fonts/icomoon.woff?zc22vv') format('woff'),
    url('../fonts/icomoon/fonts/icomoon.ttf?zc22vv') format('truetype'),
    url('../fonts/icomoon/fonts/icomoon.svg?zc22vv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-settings:before {
    content: "\e600";
}

.icon-diamond:before {
    content: "\e601";
}

.icon-paperplane:before {
    content: "\e602";
}

.icon-data:before {
    content: "\e603";
}

.icon-megaphone:before {
    content: "\e604";
}

.icon-lab:before {
    content: "\e605";
}

.icon-clip:before {
    content: "\e606";
}

.icon-github:before {
    content: "\eab1";
}

#mainmenu ul li a {
    text-align: center;
    padding: 10px 25px 5px 25px;
}

#mainmenu ul li a span.icon {
    font-size: 2em;
    display: block;
}

.version-btn {
    display: block;
    text-align: center;
    margin-top: 20px;
}
.version-btn small {
    color: #aaa;
    display: block;
}

#submenu.navbar {
    min-height: auto;
}
#submenu ul>li>a {
    text-align: center;
    padding: 10px 20px 10px 20px;
}

#submenu .form-control {
    padding: 4px 10px;
    height: auto;
    min-width: 250px;
}

a.core span.icon {
    color: #93C54B;
}
 a.db span.icon {
    color: #4BAFC5;
}
a.di span.icon {
    color: #C54B4B;
}
a.xml span.icon {
    color: #ECF03B;
}
a.form span.icon {
    color: #A95ADA;
}
a.cache span.icon {
    color: #4BAFC5;
}
a.events span.icon {
    color: #F8A01C;
}

b.core {
    color: #93C54B;
}
b.db {
    color: #4BAFC5;
}
b.di {
    color: #C54B4B;
}
b.xml {
    color: #ECF03B;
}
b.form {
    color: #A95ADA;
}
b.cache {
    color: #4BAFC5;
}
b.events {
    color: #F8A01C;
}

#main.core a {
    color: #93C54B;
}

#submenu.di {
    background-color: #C54B4B;
}

#submenu.di a {
    color: #7B4444;
}

#submenu.di ul.nav>li>a:hover {
    color: #fff;
}

#submenu.di li.active a, #submenu.di .open>a {
    background-color: #B74141;
    color: #fff;
}

#main.di a {
    color: #C54B4B;
}


#submenu.db {
    background-color: #4BAFC5;
}

#submenu.db a {
    color: #427A87;
}

#submenu.db ul.nav>li>a:hover {
    color: #fff;
}

#submenu.db li.active a, #submenu.db .open>a {
    background-color: #439BAE;
    color: #fff;
}

#main.db a {
    color: #4BAFC5;
}

#submenu.xml {
    background-color: #DFE343;
}

#submenu.xml a {
    color: #A8AB29;
}

#submenu.xml ul.nav>li>a:hover {
    color: #fff;
}

#submenu.xml li.active a, #submenu.xml .open>a {
    background-color: #C5C939;
    color: #fff;
}

#main.xml a {
    color: #C5C939;
}


#submenu.form {
    background-color: #A95ADA;
}

#submenu.form a {
    color: #70476C;
}

#submenu.form ul.nav>li>a:hover {
    color: #fff;
}

#submenu.form li.active a, #submenu.form .open>a {
    background-color: #9A52C8;
    color: #fff;
}

#main.form a {
    color: #A95ADA;
}

/* F8A01C */
#submenu.events {
    background-color: #F8A01C;
}

#submenu.events a {
    color: #926A29;
}

#submenu.events ul.nav>li>a:hover {
    color: #fff !important;
}

#submenu.events li.active a, #submenu.events .open>a {
    background-color: #E79419;
    color: #fff;
}

#main.events a {
    color: #F8A01C;
}



#submenu.cache {
    background-color: #4BAFC5;
}

#submenu.cache a {
    color: #427A87;
}

#submenu.cache ul.nav>li>a:hover {
    color: #fff;
}

#submenu.cache li.active a, #submenu.cache .open>a {
    background-color: #439BAE;
    color: #fff;
}

#main.cache a {
    color: #4BAFC5;
}

#page {
    background-color: #fff;
    padding-bottom: 40px;
}
#main {
    padding-top: 20px;
}

.tooltip {
    min-width: 100px;
    max-width: none;
}
.tooltip-inner {
    text-transform: none;
    max-width: none;
}

ul.classes {
    font-size: 0.9em !important;
    text-transform: none;
    overflow-y: auto;
    max-height: 600px;
}

.panel-title {
    text-transform: none !important;
    border-radius: 0;
}
.panel-body, .panel-heading, .panel, .panel-group {
    border-radius: 0 !important;
}
.panel-group {
    margin-bottom: 0;
    border-radius: 0;
}

.comment-list {
    position: relative;
    padding-bottom:40px;
    list-style: none;
}
.comment-list .comment-item {
    display:block;
    padding-bottom:20px;
}
.comment-list .comment-item header {
    line-height: 45px;
}
.comment-list .comment-item .avatar {
    float:left;
}
.comment-list .comment-item .author {
    font-weight:bold;
    margin-left:5px;
}
.comment-list .comment-item .comment-body .contents {
    margin-left: 55px;
    display:block;
    clear:both;
    line-height: 18px;
    margin-bottom: 20px;
}
.comment-list .replies {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
}
.comment-list .replies .comment-item {
    padding-bottom:0px;
    margin-top: 10px;
}
.comment-list .replies .comment-item header {
    padding:0;
    margin:0;
    line-height:normal;
}
.comment-list .replies .comment-item time {
    font-size:12px;
}
.comment-list .replies .comment-item .author {
    display:inline;
    margin-left:0;
    vertical-align: middle;
}
.comment-list .replies .comment-item .contents {
    display: block;
    margin-left: 30px;
    vertical-align: middle;
}
.comment-list .reply-btn {
    padding: 0 5px;
    margin-left: 14px;
    visibility: hidden;
}
.comment-list .comment-item:hover .reply-btn {
    visibility: visible;
}
.comment-list #comment-box {
    background-color: #eee;
    border-radius: 22px;
    padding-bottom:0;
}
.comment-list:before {
    position: absolute;
    top: 0;
    bottom: 35px;
    left: 25px;
    width: 1px;
    background: #EEEEEE;
    content: '';
    z-index:-999;
}

.doc-summary {
    padding-top:20px;
}
.doc-summary h5 i {
    color: #999;
}
.doc-summary ul {
    list-style-type: none;
    list-style: none;
    padding-left: 0px;
}
.doc-summary ul li ul {
    padding-left: 30px;
}

h5 {
    font-weight: bold;
}

#docTabs a {
    color: inherit !important;
}

.breadcrumb {
    margin-top: 20px;
    text-transform: none;
    font-size: 1em;
}

#footer {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: solid 1px #ccc;
    font-size: 0.9em;

}

.light {
    font-weight: 100;
}

h3.panel-title {
  font-size: 1.5em !important;
}

h4.panel-title {
    font-size: 1.3em !important;
}

.pkg-intro h2 {
    font-weight: 100;
    margin-bottom: 40px;
}


.apidoc a.core {
    color: #93C54B !important;
}
.apidoc a.db {
    color: #4BAFC5 !important;
}
.apidoc a.di {
    color: #C54B4B !important;
}
.apidoc a.xml {
    color: #ECF03B !important;
}
.apidoc a.form {
    color: #A95ADA !important;
}
.apidoc a.cache {
    color: #4BAFC5 !important;
}
.apidoc a.events {
    color: #F8A01C !important;
}
.apidoc a.internal {
    color: inherit !important;
}