{% block title %}About Fwk - License{% endblock title %}

{% extends "layouts/about.twig" %}

{% block about_title %}<small><i class="glyphicon glyphicon-file"></i> License</small>{% endblock %}

{% block about_contents %}
    <h2 style="margin-top:0">Fwk Components</h2>
    <p>All Fwk components share the <a href="http://choosealicense.com/licenses/bsd-3-clause/">BSD-3-clause</a> license.</p>

    <h2>Website and Documentation</h2>
    <p>All content on this website is licensed under the <a href="#">Creative Commons Attribution 3.0 Unported License</a>.</p>
    <p>Comments and Contributed contents are property of their respective owners.</p>

    <h2>The BSD 3-Clause License</h2>
<pre>
Copyright (c) 2011-2015, Julien Ballestracci
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.

* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

* Neither the name of Fwk nor the names of its
  contributors may be used to endorse or promote products derived from
  this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
</pre>
{% endblock %}